body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 700px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
}
