body {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  background: linear-gradient(to right, #e8f5e9, #ffffff);
}

.container {
  width: 100%;
  margin: auto;
  padding: 40px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #1b5e20;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  color: #555;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 30px;
}
h4{
  text-align: left;
  color: #333;
  font-style: normal;
  font-size: 70px;
  margin-bottom: 20px;
}

.image-section {
  text-align: center;
  margin-bottom: 30px;
}

.image-section img {
  width: 700px;
  height: auto;
  border-radius: 10px;
  border: 3px solid #1b5e20;
}

.content p {
  font-size: 50px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 20px;
  text-align: justify;
}

.quote {
  margin-top: 40px;
  padding: 25px;
  background-color: #e8f5e9;
  border-left: 6px solid #1b5e20;
}

.quote p {
  font-size: 40px;
  font-style: italic;
  color: #1b5e20;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  color: #555;
}
