body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 1700px;             
  margin: 40px auto;
  background: white;
  padding: 30px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.add-task input {
  flex: 1;
  padding: 12px;
  font-size: 50px;
}

.add-task button {
  padding: 12px 25px;
  font-size: 50px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.tasks {
  display: flex;
  gap: 30px;
}

.task-box {
  width: 50%;
}

.task-box h2 {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fafafa;
  padding: 12px;
  margin-top: 12px;
  border-left: 5px solid black;
}

.time {
  font-size: 45px;
  color: #555;
  margin-top: 5px;
}

.buttons {
  margin-top: 10px;
}

.buttons button {
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.complete {
  background: green;
  color: white;
  border: none;
}

.edit {
  background: blue;
  color: white;
  border: none;
}

.delete {
  background: red;
  color: white;
  border: none;
}
