/* ================= GLOBAL ================= */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ================= NAVBAR ================= */
.navbar {
  background-color: black;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 300px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 70px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

/* ================= HERO ================= */
.hero {
  position: relative;
  height: 750px;
  width: 100vw;
  overflow: hidden;
}

.hero img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-text {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 90px;
  letter-spacing: 5px;
  margin: 0;
}

.hero-text p {
  font-size: 45px;
  margin-top: 20px;
}

/* ================= ABOUT ================= */
.about {
  padding: 100px 150px;
  text-align: center;
}

.about h2 {
  font-size: 80px;
  margin-bottom: 30px;
}

.about p {
  font-size: 45px;
  line-height: 1.7;
}

/* ================= SERVICES ================= */
.services {
  padding: 80px 100px;
  background-color: #f5f5f5;
  text-align: center;
}

.services h2 {
  font-size: 45px;
  margin-bottom: 60px;
}

.service-box {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.service {
  background: white;
  padding: 25px;
  width: 30%;
}

.service img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.service h3 {
  font-size: 28px;
  margin-top: 20px;
}

.service p {
  font-size: 45px;
  line-height: 1.6;
}

/* ================= JOIN FORM ================= */
.join {
  padding: 100px;
  text-align: center;
}

.join h2 {
  font-size: 45px;
}

.join p {
  font-size: 45px;
  margin-bottom: 40px;
}

.join-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join-form input,
.join-form select {
  padding: 15px;
  font-size: 30px;
}

.join-form button {
  padding: 15px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* ================= FOOTER ================= */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  font-size: 18px;
}
